{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">
        <!-- This is the dynamic tab section -->

        <div class="col-sm-12" align="center"> <h3>Update Account Information</h3><br></div>
        {% block content %}

        <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg" >{{ form.first_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.first_name(value = current_user.first_name, class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">{{ form.last_name.label }}</label>
                    <div class="col-sm-8">
                        {{ form.last_name(value = current_user.last_name, class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">{{ form.email.label }}</label>
                    <div class="col-sm-8">
                        {{ form.email(value = current_user.email, class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">New password</label>
                    <div class="col-sm-8">
                        {{ form.password(value=current_user.password, class="form-control") }}
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span><br>
                        {% endfor %}<br>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">Verify password</label>
                    <div class="col-sm-8">
                        {{ form.password_v(value=current_user.password, class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">{{ form.school.label }}</label>
                    <div class="col-sm-8">
                        {{ form.school(value = current_user.school, class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">{{ form.grade.label }}</label>
                    <div class="col-sm-8">
                        {{ form.grade(class="form-control") }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-1"></div>
                    <label  class="col-sm-2 col-form-label col-form-label-lg">{{ form.state.label }}</label>
                    <div class="col-sm-8">
                        {{ form.state(class="form-control") }}
                    </div>
                </div>
            <div class="form-group row">
                 <div class="col-sm-12" align="center">
                    {{ form.submit(value = "Update", class="btn btn-primary") }}
                 </div>
            </div>

            </form>
        {% endblock %}
      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}