<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mentoring Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='homepage.css') }} ">



</head>
<body>

<!-- Navigation toolbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Change href when refactoring name of file -->
  <a class="navbar-brand" href="{{ url_for('home') }}">Mentoring Website</a>

  <!-- Links -->
  <!-- Replace # with file names for href -->
  <ul class = "navbar-nav ml-auto">
    {% if current_user.username == "admin" %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('testsuite') }}">Test Suite</a>
      </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('search') }}">Search People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('account') }}">Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
    </li>
  </ul>
</nav>

<div class="flashed-message-box">
  {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
      <ul>
      {% for category, msg in msgs %}
        <li><div class="flash-msg {{ category }}">{{ msg }}</div></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>

<div class="page-container">
{% block page_content %}{% endblock %}
</div>

</body>
</html>
