{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">

        {% block content %}
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="chat">
            <h2>Create a New Forum Question</h2>
            {{ form.question( id="ta", cols="90", rows="3") }}<br>
            <span class="time-right">
              {{ form.submit(value = "Submit", class="btn btn-primary") }}
            </span>
          </div>

        </form>
        {% endblock %}

        <a href="#">
        <div class="chat dark">
          <img src="{{ url_for('static', filename='mentee.jpg') }}" alt="Avatar">
          <p style="text-decoration : none; color : #000;"> Do you think this is at all possible? </p>
          <span class="time-right">Posted: 5:53 PM</span><br>
          <span class="time-right">Author: David</span>
        </div>
        </a>

        <a href="#">
        <div class="chat">
          <img src="{{ url_for('static', filename='mentee.jpg') }}" alt="Avatar">
          <p style="text-decoration : none; color : #000;"> When does class start for Calc 3? </p>
          <span class="time-right">Posted: 5:08 PM</span><br>
          <span class="time-right">Author: Samantha</span>
        </div>
        </a>

        <a href="#">
        <div class="chat dark">
          <img src="{{ url_for('static', filename='mentor.jpg') }}" alt="Avatar">
          <p style="text-decoration : none; color : #000;"> What is the resulting solid?</p>
          <span class="time-right">Posted: 2:33 PM</span><br>
          <span class="time-right">Author: Trey</span>
        </div>
        </a>

      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}