{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">

        {% block content %}
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="chat">
            <h2>Create a New Forum Question</h2>
            {{ form.question( id="ta", cols="90", rows="3") }}<br>
            <span class="time-right">
              {{ form.submit(value = "Submit", class="btn btn-primary") }}
            </span>
          </div>

        </form>
        {% endblock %}

        {% for fp in get_forum_questions() %}
        <a href="/forum/{{ fp.id }}">
        <div class="chat dark">
          <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(get_user_by_username(fp.author_username)) else 'mentor.jpg') }}" alt="Avatar">
          <p style="text-decoration : none; color : #000;">{{ fp.content }}</p>
          <span class="time-right">Posted: {{ date_to_string(fp.post_time) }}</span><br>
          <span class="time-right">Author: {% with u = get_user_by_username(fp.author_username) %}{{ u.first_name}} {{ u.last_name }} (@{{ u.username }}){% endwith %}</span>
        </div>
        </a>
        {% endfor %}

      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}