{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <div class= "mar-top">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='mentee.jpg' if is_mentee(current_user) else 'mentor.jpg') }}" alt="Card Image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> {{ current_user.first_name }} {{ current_user.last_name }} </h4>
          <p class="card-body" align='center'>@{{ current_user.username }}</p>
          <p class="card-body" align='center'>Grade: {{ grade_level_string(current_user.grade) }}</p>
          <p class="card-body" align='center'>School: {{ current_user.school }}</p>
          <p class="card=body" align='center'>Role: {{ "Mentee" if is_mentee(current_user) else "Mentor" }} </p>
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">

        {% block content %}
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="chat">
            <h2>Create a New Post</h2>
            {{ form.content( id="ta", cols="90", rows="3") }}<br>
            <span class="time-right">
              {{ form.submit(value = "Submit", class="btn btn-primary") }}
            </span>
          </div>

        </form>
        {% endblock %}

        {% for userpost in get_general_feed(current_user) %}
        {% with u = get_user_by_username(userpost.author_username) %}
        <div class="chat">
          <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(u) else 'mentor.jpg') }}" alt="Avatar">
          <p>{{ userpost.content }}</p>
          <span class="time-right">Author: {{ u.first_name}} {{ u.last_name }} (@{{ u.username }})</span><br>
          <span class="time-right">Posted: {{ date_to_string(userpost.post_time) }}</span>
        </div>
        {% endwith %}
        {% endfor %}

      </div>
    </div>

    <div class="col sidebar">
      <div class= "mar-top">
        {% for friend in get_following(current_user) %}
        <div class="chat dark">
          <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(friend) else 'mentor.jpg') }}" alt="Avatar">
          <p>{{ friend.first_name }} {{ friend.last_name }}</p>
          <p>@{{ friend.username }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}