<!-- template from w3schools -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game of Threads</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href=" {{ url_for('static', filename='homepage.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css') }} ">
</head>
<body>

<!-- Navigation toolbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Change href when refactoring name of file -->
  <a class="navbar-brand" href="{{ url_for('home') }}">Game of Threads</a>

  <!-- Links -->
  <!-- Replace # with file names for href -->
  <ul class = "navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Network</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">LogOut</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('account') }}">Account</a>
  </ul>
</nav>

<div class="page-container">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <div class= "mar-top">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='blank-profile.png') }}" alt="Card Image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title"> {{ current_user.first_name }} {{ current_user.last_name }} </h4>
          <p class="card-text"> Hello! I am a {{ current_user.grade }} at {{ current_user.school }}. </p>
          <a href="#" class="btn btn-primary"> My Profile </a>
        </div>
      </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">

        <div class="chat dark">
          <img src="{{ url_for('static', filename='blank-profile.png') }}" alt="Avatar">
          <p> Hey ____! I was matched with you to be my mentor. </p>
          <span class="time-right"> 5:53pm</span>
        </div>

        <div class="chat">
          <img src="{{ url_for('static', filename='blank-profile.png') }}" alt="Avatar">
          <p> Oh hey ____! Awesome. If there are any questions you have regarding college or future employment, let me know! </p>
          <span class="time-right"> 6:08pm</span>
        </div>

        <div class="chat dark">
          <img src="{{ url_for('static', filename='blank-profile.png') }}" alt="Avatar">
          <p> Cool! If the region in the first quadrant bounded by the curve y=e^x and x=1 is rotatred about the x-axis, what is the volume of the resulting solid?</p>
          <span class="time-right"> 7:33pm</span>
        </div>

        <div class="chat">
          <img src="{{ url_for('static', filename='blank-profile.png') }}" alt="Avatar">
          <p> The region being rotated is that under the curve y=e^x between x=0 and x=1. Now dV = pi*r^2 dx = pi * e^(2x) dx </p>
          <span class="time-right"> 7:59pm</span>
        </div>

        <div class="chat dark">
          <img src="{{ url_for('static', filename='blank-profile.png') }}" alt="Avatar">
          <p> So the volume is:  [Integral 0 -> 1] e^2x dx =  ( e^(2x) ) / 2 from 0 -> 1 =  (e^2 - 1) / 2  </p>
          <span class="time-right"> 8:05pm</span>
        </div>

      </div>
    </div>

    <div class="col sidebar">
      <div class= "mar-top">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3> ... </h3>
        <p> ... </p>
      </div>
    </div>
  </div>
</div>

<!-- bg-dark is color; -->
<footer class="container-fluid bg-dark">
  <p> This website was created for our final project for EECS 448: Software Engineering </p>
  <p> The members involved are: Jace Kline, DeRon Sutton, Chris Hardin, Cedric Starks, Rick Petzold </p>
</footer>

</div>

</body>
</html>
