{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">


        <div class="col-sm-12" align="center"> <h3>Search Users</h3><br></div>

        <form method="post" action="" novalidate>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  {{ form.filt(class="form-control btn-outline-secondary") }}
              </div>
              {{ form.text(class="form-control") }}
              <div class="input-group-append">
                  {{ form.submit(class="btn btn-primary") }}
              </div>
            </div>
        </form>
        <div id="results">
          {% for u in results %}
          <div class="chat dark">
              <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(u) else 'mentor.jpg') }}" alt="Avatar">
              <p>{{ u.first_name }} {{ u.last_name }}</p>
              <p>@{{ u.username }}</p>
              {% if u.username == current_user.username %}
              <p><b>You are this user.</b></p>
              {% elif not is_following(current_user, u) %}
              <a href="{{ url_for('follow', follower_uname=current_user.username, following_uname=u.username) }}"><input type="button" value="Follow"></a>
              {% else %}
              <p><b>You are following this user.</b></p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}