{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">


        <div class="col-sm-12" align="center"> <h3>Search other users!</h3><br></div>

        <form method="post" action="" novalidate>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  {{ form.filt(class="form-control btn-outline-secondary") }}
              </div>
              {{ form.text(class="form-control") }}
              <div class="input-group-append">
                  {{ form.submit(class="btn btn-primary") }}
              </div>
            </div>
        </form>
        <div id="results">
          {% if results %}
          {% for u in results %}
          <div class="chat dark">
              <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(u) else 'mentor.jpg') }}" alt="Avatar">
              <p>{{ u.first_name }} {{ u.last_name }}</p>
              <p>@{{ u.username }}</p>
              {% if not is_following(current_user, u) %}
              <a href="{{ url_for('follow', current_user, u) }}"><input type="button" value="Follow"></a>
              {% endif %}
            </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}


<!--

- My vision was when mentee/mentor is selected, name is typed, then when submitted is pressed
  it will show all people with the same "characters"? that is searched
- ex: Typed: "bob" -> Bob, Bobby, Bobbison ; will all pop up
- Im having trouble getting it to detect the dropdown
- I am leaving all my code for you to look at
- You can probably get rid of the id=results,
  I know with normal html when you href="search.html#results" it will send to the results id (line 30)
  , but it didnt doesnt really work with our site

Code I affected (lines might not be the same once I push)
-  main.py line85-111
- forms.py line68-75
- db_models.py line101-105

for main.py, I was trying to get stuff to work using queries but it wasnt going to plan
- also imported request and SearchForm
-->