<!-- template from w3schools -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game of Threads</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href=" {{ url_for('static', filename='homepage.css') }} ">
  <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css') }} ">
</head>
<body>

<!-- Navigation toolbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Change href when refactoring name of file -->
  <a class="navbar-brand" href="{{ url_for('home') }}">Game of Threads</a>
  <ul class = "navbar-nav ml-auto">
  </ul>
</nav>

<div class="page-container">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sidebar">
      <div class= "mar-top">
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">
        <div class="chat dark">
            <h3>Start Your Journey</h3>
        {% block content %}
        <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <label><strong>{{ form.first_name.label }}</strong></label><br>
                    {{ form.first_name() }} <br>
                    {% for error in form.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.last_name.label }}</strong></label><br>
                    {{ form.last_name() }} <br>
                    {% for error in form.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.username.label }}</strong></label><br>
                    {{ form.username() }} <br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.email.label }}</strong></label><br>
                    {{ form.email() }} <br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.password.label }} (8 or more characters)</strong></label><br>
                    {{ form.password() }} <br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}<br>
                <label><strong>{{ form.password_v.label }}</strong></label><br>
                    {{ form.password_v() }} <br>
                    {% for error in form.password_v.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.school.label }}</strong></label><br>
                    {{ form.school() }} <br>
                    {% for error in form.school.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}<br>
                <label><strong>{{ form.grade.label }}</strong></label><br>
                    {{ form.grade() }}<br><br>
                <label><strong>{{ form.state.label }}</strong></label><br>
                    {{ form.state() }}<br><br>
                {{ form.submit() }}
            </form>
        {% endblock %}
        </div>
      </div>
    </div>

    <div class="col sidebar">
    </div>
  </div>
</div>

<!-- bg-dark is color; -->
<footer class="container-fluid bg-dark">
</footer>

</div>

</body>
</html>