<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body style="text-align: center;">
    <div style="margin-left: 15%; margin-right: 15%; height:100%;">
        <h3>Start Your Journey</h3>
        <form>
            <label><strong>First name</strong></label><br>
                <input type="text" name="first" id="first"><br><br>
            <label><strong>Last name</strong></label><br>
                <input type="text" name="last" id="last"><br><br>
            <label><strong>Email</strong></label><br>
                <input type="email" name="email" id="email"><br><br>
            <label><strong>Password (8 or more characters)</strong></label><br>
                <input type="password" name="pass" id="pass"><br><br>
            <label><strong>Re-Enter Password</strong></label><br>
                <input type="password" name="v_pass" id="v_pass"><br><br>
            <input type="submit" name="submit" value="Join Now">
        </form>
    </div>

</body>
</html>