<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body style="text-align: center;">
    <div style="margin-left: 15%; margin-right: 15%; height:100%;">
        <h3>Start Your Journey</h3>
        {% block content %}
        <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <label><strong>{{ form.first_name.label }}</strong></label><br>
                    {{ form.first_name() }}<br><br>
                <label><strong>{{ form.last_name.label }}</strong></label><br>
                    {{ form.last_name() }}<br><br>
                <label><strong>{{ form.username.label }}</strong></label><br>
                    {{ form.username() }}<br><br>
                <label><strong>{{ form.email.label }}</strong></label><br>
                    {{ form.email() }}<br><br>
                <label><strong>{{ form.password.label }} (8 or more characters)</strong></label><br>
                    {{ form.password() }}<br><br>
                <label><strong>{{ form.password_v.label }}</strong></label><br>
                    {{ form.password_v() }}<br><br>
                <label><strong>{{ form.school.label }}</strong></label><br>
                    {{ form.school() }}<br><br>
                <label><strong>{{ form.grade.label }}</strong></label><br>
                    {{ form.grade() }}<br><br>
                <label><strong>{{ form.state.label }}</strong></label><br>
                    {{ form.state() }}<br><br>
                {{ form.submit() }}
            </form>
        {% endblock %}
    </div>
</body>
</html>