<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="./static/splashScreen.css">
    <title>Mentor/mentee</title>
</head>
<body>
    <div id="menu" class="container-fluid" style="width: 40%">
        <ul>
            <li id="menuItems"><a href="login.html">Login</a></li>
            <li id="menuItems"><a id="whiteText" href="signup.html">SignUp</a></li>
        </ul>
    </div>
    <div id="container-fluid" style="width: 100%;">
        <div id="row">
            <div id="col-md-3"></div>
            <div id="col-md-6">
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi purus, sollicitudin quis 
                    nunc sed, faucibus tempus nunc. Ut vestibulum nisl lacinia, efficitur dolor eu, pharetra odio. 
                    Nam rhoncus pharetra purus vel sagittis. In metus lacus, cursus at auctor eu, finibus a risus. 
                    Duis scelerisque erat quis orci laoreet hendrerit. Phasellus tempor tortor est, quis vestibulum est 
                    placerat sed. Quisque leo tellus, finibus sit amet ex eget, laoreet pulvinar purus. Nunc vulputate, 
                    lacus non pharetra posuere, risus tellus tincidunt ex, quis aliquet ex risus eu quam. Ut purus ligula, 
                    sodales vitae nibh sit amet, interdum condimentum nibh. Nullam enim augue, tempor quis leo ut, molestie 
                    tincidunt risus. Suspendisse potenti. Nunc erat lacus, rhoncus ac rutrum eu, laoreet eget lectus. 
                    Pellentesque posuere lorem id dolor pharetra, at rhoncus turpis faucibus. Nunc eleifend leo congue 
                    lorem suscipit egestas.
                </h4>
            </div>
            <div id="col-md-3"></div>
        </div>
    </div>
</body>

<footer>
    <h2>
        Contact Section
    </h2>
</footer>
</html>