<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='splashBackground.jpg') }})" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='splash.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css') }} ">
    <title>LinkUp</title>
</head>
<body style="background-image: url({{ url_for('static', filename='splashBackground.jpg') }})" lang="en">
    <div id="menu" class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Mentor/Mentee</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          {% block content %}
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form action="" mthod="POST" novalidate>
                        {{ form.hidden_tag() }}
                        {{ form.username(placeholder="Username") }}
                        {{ form.password(placeholder="Password") }}
                        {{ form.submit() }}
                    </form>
                </li>
              </ul>
            </div>
          </form>
          {% endblock %}
        </div>
      </nav>
    </div>
    <div id="container-fluid" style="margin-left: 15%; margin-right:15%; margin-top:10%; text-align: center;">
        <div class="row">
            <div class="col-lg-7">
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi purus, sollicitudin quis
                    nunc sed, faucibus tempus nunc. Ut vestibulum nisl lacinia, efficitur dolor eu, pharetra odio.
                    Nam rhoncus pharetra purus vel sagittis. In metus lacus, cursus at auctor eu, finibus a risus.
                    Duis scelerisque erat quis orci laoreet hendrerit. Phasellus tempor tortor est, quis vestibulum est
                    placerat sed. Quisque leo tellus, finibus sit amet ex eget, laoreet pulvinar purus.
                </h4>
            </div>
            <div class="col-lg-5" style="margin-top: 10%;">
                <h1>Get started with our program now and begin planning your future and networking with our members.</h1>
                <a href="{{ url_for('signup') }}"><h4>Register Now</h4></a>
            </div>
        </div>

    </div>
</body>
</html>