<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='splashBackground.jpg') }})" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='splash.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap.css') }} ">
    <title>LinkUp</title>
</head>
<body style="background-image: url({{ url_for('static', filename='splashBackground.jpg') }})" lang="en">
    <div id="menu" class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Mentor/Mentee</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          {% block content %}
          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {{ form.username(placeholder="Username") }}
                </li>
                <li class="nav-item">
                    {{ form.password(placeholder="Password") }}
                </li>
                <li class="nav-item">
                    {{ form.submit() }}
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{{ url_for('signup') }}">SignUp </a>
                </li>
              </ul>
            </div>
          </form>
          {% endblock %}
        </div>
      </nav>
    </div>
    <div id="container-fluid">
        <h4 style="margin: 15%;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi purus, sollicitudin quis
            nunc sed, faucibus tempus nunc. Ut vestibulum nisl lacinia, efficitur dolor eu, pharetra odio.
            Nam rhoncus pharetra purus vel sagittis. In metus lacus, cursus at auctor eu, finibus a risus.
            Duis scelerisque erat quis orci laoreet hendrerit. Phasellus tempor tortor est, quis vestibulum est
            placerat sed. Quisque leo tellus, finibus sit amet ex eget, laoreet pulvinar purus. Nunc vulputate,
            lacus non pharetra posuere, risus tellus tincidunt ex, quis aliquet ex risus eu quam. Ut purus ligula,
            sodales vitae nibh sit amet, interdum condimentum nibh. Nullam enim augue, tempor quis leo ut, molestie
            tincidunt risus. Suspendisse potenti. Nunc erat lacus, rhoncus ac rutrum eu, laoreet eget lectus.
            Pellentesque posuere lorem id dolor pharetra, at rhoncus turpis faucibus. Nunc eleifend leo congue
            lorem suscipit egestas.
        </h4>
    </div>
</body>
</html>