{% extends "base.html" %}


{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 sidebar">
      <div class= "mar-top">
          <br>
      </div>
    </div>

    <div class="col-sm-8">
      <div class= "mar-top">
        {% block content %}

          <div class="col-sm-12" align="left">Forum Question</div><br>
          <div class="col-sm-12" align="center"> <h3>{{ id_to_forum_question(question_id).content }}</h3><br></div>
          <div class="col-sm-12" align="right">Author: {% with u = get_user_by_username(id_to_forum_question(question_id).author_username) %}{{ u.first_name }} {{ u.last_name }} (@{{ u.username }}){% endwith %}</div>
          <div class="col-sm-12" align="right">Posted: {{ date_to_string(id_to_forum_question(question_id).post_time) }}</div>

        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="chat">
            {{ form.comment( id="ta", cols="90", rows="2") }}<br>
            <span class="time-right">
              {{ form.submit(value = "Comment", class="btn btn-primary") }}
            </span>
          </div>
        </form>

          {% for fp in get_forum_question_posts(id_to_forum_question(question_id)) %}
          {% with u = get_user_by_username(fp.author_username) %}
          <div class="chat dark">
              <img src="{{ url_for('static', filename='mentee.jpg' if is_mentee(u) else 'mentor.jpg') }}" alt="Avatar">
              <p>{{ fp.content}}</p>
              <span class="time-right">Author: {{ u.first_name}} {{ u.last_name }} (@{{ u.username }})</span><br>
              <span class="time-right">Posted: {{ date_to_string(fp.post_time) }}</span>
          </div>
          {% endwith %}
          {% endfor %}

        {% endblock %}
      </div>
    </div>

    <div class="col sidebar">
        <br>
    </div>
  </div>
</div>
{% endblock %}